* {
  margin: 0px;
  padding: 0px;
}

/* để gọi class .tên_class */
.box {
  width: 200px;
  padding: 30px;
  border: 2px solid red;
}

/* Css circle truoc */

@media screen and (min-width: 600px) {
  .box {
    background-color: blue;
  }
}

/* Media breakpoint 800 */
.circle {
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
}

/* Nếu < 800px thì sẽ ăn theo giao diện bên dưới */
@media screen and (max-width: 800px) {
  .circle {
    border-radius: 50%;
  }
}

/* Nếu > 800px thì sẽ ăn theo giao diện bên dưới */
/* @media screen and (min-width: 800px) {
    .circle {
        border-radius: 50%;
    }
} */

.card {
  width: 200px;
  min-height: 150px;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card img {
  width: 100%;
}

.card_container{
  max-width: 900px;
  padding: 40px;
  margin:  0px auto;;
  border: 5px dashed black;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}